.modal {
  border-style: solid;
  border-radius: 5px;
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}
.modal h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.modal .close {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: grid;
  justify-content: center;
  align-items: center;
  background: rgba(105, 95, 95, 0.3);
}
.modal .close:hover {
  color: #828684;
}
.modal .content {
  max-height: 30%;
  overflow: auto;
}
